body {
    background-color: rgb(255, 217, 0);
    text-align: center;
}

/* game name */
h1 {
    color: whitesmoke;
    font-family: Helvetica, Arial, sans-serif;
    letter-spacing: 1px;
    font-variant: small-caps;
    border: 2px double whitesmoke;
    padding: 10px;
    text-align: center;
   margin-top: 40px;
}

/* player turn */
h2, h2>p {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

/* the container that holds all slots */
#container {
    background-color: whitesmoke;
    display: inline-block;
}

  /* the slot div */
.column {
    width: 90px;
    height: 90px;
    display: inline-block;
    background-color: rgb(255, 217, 0);
    margin: 2px;
}

/* this shows the x inside the slot */
.x {
    background-image: url('images/x.png');
    background-size: contain;
}

/* this shows the o inside the slot */
.o {
    background-image: url('images/o.png');
    background-size: contain;
}

/* the popup */
.pop_up {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* the popup content */
.popUp-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: rgb(255, 217, 0);
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 183, 0);
}

/* The Close Button */
.close {
    color: rgb(255, 240, 154);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 217, 0);
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;

}

/* the replay button */
.replay {
    margin-top: 20px;
    background-color: whitesmoke;
    width: 65px;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 217, 0);
    border-radius: 5px;
    border: 2px dotted whitesmoke;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
}

/* the replay button on the popup */
.popUp-content>.replay {
    background-color: rgb(255, 217, 0);
    color: whitesmoke;

}