body {
    background-color: rgb(255, 217, 0);
    text-align: center;
}

/* game name */
h1 {
    color: whitesmoke;
    font-family: 'Fascinate Inline', cursive;
    font-size: 50px;
    letter-spacing: 1px;
    font-variant: small-caps;
    border: 2px double whitesmoke;
    padding: 10px;
    text-align: center;
   margin-top: 40px;
}

/* player turn */
h2, h2>p {
    /* font-family: Arial, Helvetica, sans-serif; */
    color: black;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
}

/* the container that holds all slots */
#container {
    background-color: whitesmoke;
    display: inline-block;
}

  /* the slot div */
.column {
    width: 90px;
    height: 90px;
    display: inline-block;
    background-color: rgb(255, 217, 0);
    margin: 2px;
}

/* this shows the x inside the slot */
.x {
    background-image: url('images/x.png');
    background-size: contain;
}

/* this shows the o inside the slot */
.o {
    background-image: url('images/o.png');
    background-size: contain;
}

/* the popup */
.pop_up {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

/* the popup content */
.popUp-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: rgb(255, 217, 0);
    font-size: 30px;
    font-family: Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 183, 0);
}

.popUp-content>h2 {
    font-family: 'Sigmar One', cursive;
}

.popUp-content>p {
    font-family: 'Sigmar One', cursive;
    letter-spacing: 1px;
}

/* The Close Button */
.close {
    color: rgb(255, 240, 154);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 217, 0);
    text-decoration: none;
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;

}

/* the replay + grid button */
.buttonStyle {
    margin-top: 20px;
    background-color: whitesmoke;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 217, 0);
    border-radius: 5px;
    border: 2px dotted whitesmoke;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 1px;
}

/* the button on the popup */
.popUp-content>.buttonStyle {
    background-color: rgb(255, 217, 0);
    color: whitesmoke;

}

/* the grid button */
#choiceButton {
    width: 200;
}

.homeBtn>.buttonStyle {
    margin-top: 5vw;
    width: 250px;
    height: 60px;
    font-size: 25px;
    border: 3px dotted whitesmoke;
    transition: all 1s;
}

.homeBtn>.buttonStyle:hover {
    color: whitesmoke;
    background-color: rgb(255, 217, 0);
    width: 350px;
    height: 90px;
    font-size: 45px;
}

.home>h1 {
    border: none;
    font-size: 50px;
    font-family: 'Fascinate Inline', cursive;
    color: black;
}

svg {
    width: 20vw;
    height: 20vh;
    background-color: rgb(255, 217, 0);
}

path {
    stroke: whitesmoke;
    stroke-width: 6px;
    stroke-dasharray:  3253.156982421875;
    stroke-dashoffset: 3253.156982421875;
    transition: all 9s;
}

.home>h2 {
    margin: 0;
    padding: 0;
}
    
    